@page "/"
@inject IMagicDbFactory _MagicDb

<PageTitle>Example</PageTitle>

<h3>People In IndexedDb!</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>DecryptedSecret</th>
            <th>Encrypted Secret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in allPeople)
        {
            <tr>
                <td>@person._Id</td>
                <td>@person.Name</td>
                <td>@person._Age</td>
                <td>
                    <div style="max-width: 400px; overflow-x: auto;">
                        @person.SecretDecrypted
                    </div>
                </td>
                <td>
                    <div style="max-width: 200px; overflow-x: auto;">
                        @person.Secret
                    </div>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<h3>Complex query capabilities!</h3>
<pre>
<code>
<span style="color: #2A56C6;">await</span> manager.<span style="color: #2A56C6;">Where</span><span style="color: #A31515;">&lt;Person&gt;</span>(x =&gt; x.Name.<span style="color: #2A56C6;">StartsWith</span>(<span style="color: #A31515;">"c"</span>, <span style="color: #2A56C6;">StringComparison</span>.<span style="color: #2A56C6;">OrdinalIgnoreCase</span>)
<span style="color: #2A56C6;">||</span> x.Name.<span style="color: #2A56C6;">StartsWith</span>(<span style="color: #A31515;">"l"</span>, <span style="color: #2A56C6;">StringComparison</span>.<span style="color: #2A56C6;">OrdinalIgnoreCase</span>)
<span style="color: #2A56C6;">||</span> x.Name.<span style="color: #2A56C6;">StartsWith</span>(<span style="color: #A31515;">"j"</span>, <span style="color: #2A56C6;">StringComparison</span>.<span style="color: #2A56C6;">OrdinalIgnoreCase</span>) <span style="color: #2A56C6;">&amp;&amp;</span> x._Age <span style="color: #2A56C6;">&gt;</span> <span style="color: #2A56C6;">35</span>
                    ).<span style="color: #2A56C6;">OrderBy</span>(x =&gt; x._Id).<span style="color: #2A56C6;">Skip</span>(<span style="color: #2A56C6;">1</span>).<span style="color: #2A56C6;">Execute</span>();
</code>
</pre>

@foreach (Person person in WhereExample)
{
    <p><b>Name:</b> @person.Name - <b>Age:</b> @person._Age</p>
}